{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_content %}
    {{ form_errors(form) }}

    <div class="">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ "title_user_edit_password" | trans({}, 'SonataUserBundle') }}</h3>
            </div>
            <div class="panel-body">
                {% block fos_user_content %}
                    {% include "SonataUserBundle:ChangePassword:changePassword_content.html.twig" %}
                {% endblock fos_user_content %}
            </div>
        </div>
    </div>
            
    {#<div class="col-sm-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">{{ "title_user_resetting" | trans({}, 'SonataUserBundle') }}</h3>
            </div>
            <div class="panel-body">
                {% include "FOSUserBundle:Resetting:request_content.html.twig" %}
            </div>
        </div>
    </div>#}

{% endblock sonata_profile_content %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(document).ready(function () {
            //$('.sonata_profile_menu a.list-group-item[href="{{path('sonata_user_change_password')}}"]').addClass('active');
        });
    </script>
{% endblock javascripts %}