{% extends "SonataUserBundle:Profile:action.html.twig" %}

{% block sonata_profile_content %}

    <section class="content">

        <div class="row">
            <div class="col-md-3">

                <!-- Profile Image -->
                <div class="box box-primary">
                    <div class="box-body box-profile">
                        {% if (app.user.media)%}
                            {% media app.user.media, 'large' with {'width':'100%','style':'max-height: 200px;','class':'img-rounded', } %}
                        {% else%}
                            <img src="{{asset('app/assets/img/user.png')}}" width="200px" style="max-height: 200px;" class="img-rounded">
                        {% endif %}

                        <h3 class="profile-username text-center">{{(app.user.firstname?app.user.fullname:app.user.username) | truncate(15) |capitalize}}</h3>

                        <p class="text-muted text-center">Software Engineer</p>

                        <ul class="list-group list-group-unbordered">
                            <li class="list-group-item">
                                <b>Followers</b> <a class="pull-right">1,322</a>
                            </li>
                            <li class="list-group-item">
                                <b>Following</b> <a class="pull-right">543</a>
                            </li>
                            <li class="list-group-item">
                                <b>Friends</b> <a class="pull-right">13,287</a>
                            </li>
                        </ul>

                        <a href="#" class="btn btn-primary btn-block"><b>Follow</b></a>
                    </div>
                    <!-- /.box-body -->
                </div>
                <!-- /.box -->


            </div>
            <!-- /.col -->
            <div class="col-md-9">
                <div class="nav-tabs-custom">
                    <ul class="nav nav-tabs">
                        <li class="active"><a aria-expanded="true" href="#activity" data-toggle="tab">Activity (Blocks)</a></li>
                        <li class=""><a aria-expanded="false" href="#timeline" data-toggle="tab">Timeline</a></li>
                        <li class=""><a aria-expanded="false" href="#settings" data-toggle="tab">Settings</a></li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane active" id="activity">


                        </div>
                        <!-- /.tab-pane -->
                        <div class="tab-pane" id="timeline">

                        </div>
                        <!-- /.tab-pane -->

                        <div class="tab-pane" id="settings">
                            <div class="" style="margin: 20px;">
                                <table class="table table-bordered table-condensed table-hover table-responsive table-striped">
                                    <thead>

                                    </thead>
                                    <tbody>
                                        <tr>
                                            <th>Username</th>
                                            <td>{{app.user.username}}</td>
                                        </tr>
                                        <tr>
                                            <th>First Name</th>
                                            <td>{{app.user.firstname}}</td>
                                        </tr>
                                        <tr>
                                            <th>Last Name</th>
                                            <td>{{app.user.lastname}}</td>
                                        </tr>
                                    </tbody>
                                </table>                                
                            </div>

                        </div>
                        <!-- /.tab-pane -->
                    </div>
                    <!-- /.tab-content -->
                </div>
                <!-- /.nav-tabs-custom -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->

    </section>

{% endblock %}

{% block javascripts %}
    {{parent()}}
    <script>
        $(document).ready(function () {
            //$('.sonata_profile_menu a.list-group-item[href="{{path('sonata_user_profile_show')}}"]').addClass('active');
        });
    </script>
{% endblock javascripts %}
