{% extends "SimpleThingsEntityAuditBundle::layout.html.twig" %}

{% block simplethings_entityaudit_title %}
    <h4 class="col-md-8">{{ 'History' | trans({},'SonataAdminBundle')}}</h4>
{% endblock simplethings_entityaudit_title %} 

{% block simplethings_entityaudit_paginator %}
    
{% if app.request.get('page') is not null and app.request.get('page')> 1 %}
    <a href="{{ path('simple_things_entity_audit_home',{'page': app.request.get('page')-1}) }}">
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-arrow-left"></i> </button>
    </a> 
{% endif %}        
{% if app.request.get('page') is not null and revisions[(revisions | length)-1].rev > 1 %}
    <a href="{{ path('simple_things_entity_audit_home',{'page': app.request.get('page')+1}) }}">
        <button type="button" class="btn btn-default"><i class="glyphicon glyphicon-arrow-right"></i> </button>
    </a>    
{% endif %}
{% endblock simplethings_entityaudit_paginator %}

{% block simplethings_entityaudit_content %}
    <ul>
        {% for revision in revisions %}
            <li>
                {#<a href="{{ path('simple_things_entity_audit_viewrevision', { 'rev': revision.rev }) }}">{{ revision.timestamp|date('r') }} -- {{ revision.username|default('Anonymous') }}</a>#}
                <h4>{{ 'Entities changed in revision' | trans({},'SonataAdminBundle') }} {{ revision.rev }} ({{ revision.timestamp|date('d/m/Y - H:i:s') }}) {{'by user' | trans({},'SonataAdminBundle')}} <strong>{{ revision.username|default('Anonymous') }}</strong> </h4>
                <div>
                    {{ render(controller('SimpleThingsEntityAuditBundle:Audit:viewRevision',{ 'rev': revision.rev })) }}
                    {#{ render_hinclude(controller('SimpleThingsEntityAuditBundle:Audit:viewRevision',{ 'rev': revision.rev }),{'default': 'Loading...'}) }#}
                </div>
            </li>
        {% endfor %}
    </ul>
{% endblock simplethings_entityaudit_content %}