{% extends "SimpleThingsEntityAuditBundle::layout.html.twig" %}

{% block simplethings_entityaudit_title %}
    <h4 class="col-md-10 col-lg-10">[{{ rev }}] - <a href="#">{{ className }}</a></h4>
{% endblock simplethings_entityaudit_title %}

{% block simplethings_entityaudit_content %}
    <p><a href="{{ path('simple_things_entity_audit_viewentity', { 'className': className, 'id': id }) }}">{{'Compare revisions of entity with ID' | trans({},'SonataAdminBundle') }}: [{{ id }}]</a></p>
    <table class="table table-bordered table-hover table-striped">
        <thead><tr>
                <th>{{'Field' | trans({},'SonataAdminBundle') }}</th>
                <th>{{'Value' | trans({},'SonataAdminBundle') }}</th>
            </tr></thead>
        <tbody>
            {% for field, value in data %}
                <tr>
                    <td>{{ field }}</td>
                    {% if value.timestamp is defined %}
                        <td>{{ value|date('m/d/Y') }}</td>
                    {% elseif value is iterable %}
                        <td>
                            <ul>
                                {% for element in value %}
                                    <li>{{ element }}</li>
                                    {% endfor %}
                            </ul>
                        </td>
                    {% else %}
                        <td>{{ value }}</td>
                    {% endif %}
                </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock simplethings_entityaudit_content %}

